$primary: #ff2d55;
$bg-color: #fefcfe;

.loader-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
    background: $bg-color;
    padding: 20px;
}

.cupid-container {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}

.cupid-gif {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

p {
    margin-top: 15px;
    color: #ff2d55;
    font-size: 1rem;
    font-weight: 500;
    font-family: 'Poppins', sans-serif;
    animation: textPulse 1.5s infinite ease-in-out;
}

@keyframes textPulse {

    0%,
    100% {
        opacity: 1;
    }

    50% {
        opacity: 0.6;
    }

    /* Slight fade */
}

.dot {
    animation: loaderDotsSync 1.5s infinite both;
    opacity: 0;
}

.one {
    animation-name: dots-1;
}

.two {
    animation-name: dots-2;
}

.three {
    animation-name: dots-3;
}

@keyframes dots-1 {
    0% {
        opacity: 0;
    }

    25% {
        opacity: 1;
    }

    90% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}

@keyframes dots-2 {
    0% {
        opacity: 0;
    }

    50% {
        opacity: 1;
    }

    90% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}

@keyframes dots-3 {
    0% {
        opacity: 0;
    }

    75% {
        opacity: 1;
    }

    90% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}