<div class="nav-footer">
    <button class="nav-btn" [class.active]="activeTab === 'profile'" (click)="navigateTo('profile')">
        <i class="fas fa-user"></i>
    </button>

    <button class="nav-btn feed-btn" [class.active]="activeTab === 'feed'"
        [class.disabled-nav]="!authService.isProfileComplete(authService.currentUser())" (click)="navigateTo('feed')">
        <i class="fas fa-heart"></i>

        <div class="tooltip-balloon" *ngIf="showDisabledTooltip" (click)="$event.stopPropagation()">
            <p>É necessário preencher todo o perfil para acessar o feed.</p>
            <div class="arrow-down"></div>
        </div>
    </button>

    <button class="nav-btn" [class.active]="activeTab === 'chat'" (click)="navigateTo('chat')">
        <div style="position: relative;">
            <i class="fas fa-comment"></i>
            <span class="notification-badge" *ngIf="(totalNotifications$ | async) as count" [class.show]="count > 0">
                {{ count > 99 ? '99+' : count }}
            </span>
        </div>
    </button>

    <button class="nav-btn" [class.active]="activeTab === 'settings'" (click)="navigateTo('settings')">
        <i class="fas fa-cog"></i>
    </button>
</div>